body {
    font-family: arial, sans-serif;
    font-size: 13px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.general li, .user li{
    display: inline-block;
    padding: 4px;
    margin: auto;
    background-color: white;
}

.general li {
    float: left;
}

.user li {
    float: right;
}

.logo {
    display: inline-block;
    top: 100px;
}