body {
    font-family: arial, sans-serif;
    font-size: 13px;
    color: #222;
}

a:link {
    text-decoration: none;
    color: #222;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #222;
}

footer ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    background-color: #f2f2f2;
    bottom: 50px;
}

footer li {
    display: inline-block;
    padding: 15px 11px;
    margin: auto;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    background-color: white;
}

.general li, .user li{
    display: inline-block;
    padding: 15px 11px;
    margin: auto;
    background-color: white;
}

.general li {
    float: left;
}

.user li {
    float: right;
}

.logo {
    display: inline-block;
    top: 150px;
    left: 40%;
    position: absolute;
}

input[type=search] {
    box-sizing: border-box;
    box-shadow: #222 1.5em;
    width: 30%;
    height: 40px;
    left: 35%;
    top: 300px;
    position: absolute;
    -webkit-appearance: textfield;
    
}

.language a {
    color: blue;
}

.footer-top li {
    bottom: 50px;
}

.footer-bottom-left li {
    float: left;
}

.footer-bottom-right li {
    float: right;
}