.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.general li, .user li{
    display: inline;
    padding: 4px;
}

.general li {
    float: left;
}

.user li {
    float: right;
}